.back {
  background-image: url("../img/landing.jpg");
  text-align: center;
  padding-bottom: 25px;
}
body {
  font-size: 20px;
}
.happy {
  height: 100px;
  background-color: #F15A29;
}
.party {
  height: 100px;
  }
#tooth{
  width: 100%;
}
#land{
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 40px
}
.col-md-3{
  /* width: 100%; */
  /* width: 100%; */
  padding-left: 8px;
  padding-bottom: 4px;

}
.stackem div{
  position: inherit;
  width: 165%;
  padding-bottom: 112px;
  text-align: center;
  padding-right: 219px;
  padding-left: 2px;
  height: 147.69px;
}
.area{
  width: 100%;
}
#container{
  width: 100%;
  padding-top: 0px;
}
#sent{
  width: 107%;
  padding-left: 0px;
  padding-right: 0px;
}
.scary{
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 40px
}
#cheap {
  background-image: url("../img/foodsBg.jpg");
  height: 599px;
}
#sharp {
  background-color: white;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}
#precious {
  width: inherit;
}
#polite {
  height: 300px;
}
#sour {
  border-right-style: groove;
}
#tee {
  background-image: url("../img/subscribe.jpg");
  height: 301px;
  text-align: center;
}
#chair {
  color: white;
}
#orange {
  color: white;
  background-color: #f15A29;
}
#sweet {
  background-color: #f15A29;
  height: 300px;
  text-align: center;

}
